# Ch03-Numbers, Dates, and Times

## 3.1. Rounding Numerical Values(对数值进行取整)

### Problem

You want to round a floating-point number to a fixed number of decimal places.

### Solution

For simple rounding, use the built-in *round(value, ndigits)* function.

In [1]:
round(1.23,1)

1.2

In [2]:
round(1.27, 1)

1.3

In [3]:
round(-1.27, 1)

-1.3

In [4]:
round(3.1415235, 3)

3.142

When a value is exactly halfway between two choices, the behavior of round is to round to the nearest even digit(偶数). That is, values such as 1.5 or 2.5 both get rounded to 2.

The number of digits given to *round()* can be negative, in which case rounding takes place for tens, hundreds, thousands, and so on.

In [5]:
a = 1627731

In [6]:
round(a,-1)

1627730

In [7]:
round(a,-2)

1627700

In [8]:
round(a,-3)

1628000

### Discussion

Don’t confuse rounding with formatting a value for output. If your goal is simply to output a numerical value with a certain number of decimal places, you don’t typically need to use *round()* .

In [9]:
x = 1.23456

In [10]:
format(x, '0.2f')

'1.23'

In [11]:
format(x, '0.3f')

'1.235'

In [12]:
'value is {:0.3f}'.format(x)

'value is 1.235'

## 3.2. Performing Accurate Decimal Calculations(执行精确的小数计算)

### Problem

You need to perform accurate calculations with decimal numbers, and don’t want the small errors that naturally occur with floats.

### Solution

A well-known issue with floating-point numbers is that they can’t accurately represent all base-10 decimals. Moreover, even simple mathematical calculations introduce small errors.

In [13]:
a = 4.2

In [14]:
b = 2.1

In [15]:
a + b

6.300000000000001

In [16]:
(a+b)==6.3

False

These errors are a “feature” of the underlying CPU and the IEEE 754 arithmetic performed by its floating-point unit. Since Python’s float data type stores data using the native representation, there’s nothing you can do to avoid such errors if you write your code using float instances.

If you want more accuracy (and are willing to give up some performance), you can use the decimal module:

In [17]:
from decimal import Decimal

In [18]:
a = Decimal('4.2')

In [19]:
b = Decimal('2.1')

In [20]:
a + b

Decimal('6.3')

In [21]:
print(a+b
     )

6.3

In [22]:
(a+b)==Decimal('6.3')

True

## 3.3. Formatting Numbers for Output(对数值做格式化输出)

### Problem

You need to format a number for output, controlling the number of digits, alignment, inclusion of a thousands separator, and other details.

### Solution

To format a single number for output, use the built-in *format()* function.

In [23]:
x = 1234.56789

In [24]:
# Two decimal places of accuracy
format(x, '0.2f')

'1234.57'

In [25]:
# Right justified in 10 chars(十个字符), one-digit accuracy
format(x, '>10.1f')

'    1234.6'

In [26]:
# Left justified
format(x, '<10.1f')

'1234.6    '

In [27]:
# Centered
format(x, '^10.1f')

'  1234.6  '

In [28]:
# Inclusion of thousands separator
format(x, ',')

'1,234.56789'

In [29]:
format(x, '0,.1f')

'1,234.6'

If you want to use exponential notation, change the f to an e or E , depending on the case you want used for the exponential specifier.

In [30]:
format(x, 'e')

'1.234568e+03'

In [31]:
'The value is {:0,.2f}'.format(x)

'The value is 1,234.57'

### Discussion

Formatting numbers for output is usually straightforward. The technique shown works for both floating-point numbers and *Decimal* numbers in the *decimal* module.

When the number of digits is restricted, values are rounded away according to the same rules of the *round()* function.

In [32]:
x

1234.56789

In [33]:
format(x,'0.1f')

'1234.6'

In [34]:
format(-x,'0.1f')

'-1234.6'

In a lot of Python code, numbers are formatted using the % operator.

In [35]:
'%0.2f' % x

'1234.57'

In [36]:
'%10.1f' % x

'    1234.6'

This formatting is still acceptable, but less powerful than the more modern *format()* method. For example, some features (e.g., adding thousands separators) aren’t sup‐ ported when using the % operator to format numbers.

## Working with Binary, Octal, and Hexadecimal Integers(处理二进制、八进制和十六进制数)

### Problem

You need to convert or output integers represented by binary, octal, or hexadecimal digits.

### Solution

To convert an integer into a binary(二进制), octal(八进制), or hexadecimal(十六进制) text string, use the *bin()* ,*oct()* , or *hex()* functions, respectively

In [37]:
x = 1234

In [38]:
bin(x)

'0b10011010010'

In [39]:
oct(x)

'0o2322'

In [40]:
hex(x)

'0x4d2'

Alternatively, you can use the *format()* function if you don’t want the 0b , 0o , or 0x prefixes to appear.

In [41]:
format(x, 'b')

'10011010010'

In [42]:
format(x, 'o')

'2322'

In [43]:
format(x, 'x')

'4d2'

To convert integer strings in different bases, simply use the *int()* function with an appropriate base.

In [44]:
int('4d2', 16)

1234

In [45]:
int('10011010010', 2)

1234

### Discussion

For the most part, working with binary, octal, and hexadecimal integers is straightforward. Just remember that these conversions only pertain to the conversion of integers to and from a textual representation. Under the covers, there’s just one integer type.

## 3.6. Performing Complex-Valued Math(执行复数运算)

### Problem

Your code for interacting with the latest web authentication scheme has encountered a singularity(奇点) and your only solution is to go around it in the complex plane. Or maybe you just need to perform some calculations using complex numbers

### Solution

Complex numbers(复数) can be specified using the *complex(real, imag)* unction or by floating-point numbers with a j suffix.

In [46]:
a = complex(2,4)

In [47]:
b = 3 - 5j

In [48]:
a

(2+4j)

In [49]:
b

(3-5j)

The real, imaginary(虚部), and conjugate values(共轭值) are easy to obtain, as shown here:

In [50]:
a.real

2.0

In [51]:
a.imag

4.0

In [52]:
a.conjugate()

(2-4j)

In addition, all of the usual mathematical operators work:

In [53]:
a + b

(5-1j)

In [54]:
a * b

(26+2j)

In [55]:
a / b

(-0.4117647058823529+0.6470588235294118j)

In [56]:
abs(a)

4.47213595499958

To perform additional complex-valued functions such as sines, cosines, or square roots, use the *cmath* module

In [57]:
import cmath

In [58]:
cmath.sin(a)

(24.83130584894638-11.356612711218174j)

In [59]:
cmath.cos(a)

(-11.36423470640106-24.814651485634187j)

## 3.8. Calculating with Fractions(分数的计算)

### Solution

In [60]:
from fractions import Fraction

In [61]:
a = Fraction(5,4)

In [62]:
b = Fraction(7,16)

In [63]:
print(a+b)

27/16

In [64]:
print(a*b)

35/64

In [65]:
# Getting numerator(分子)/denominator(分母)
c = a * b

In [66]:
c.numerator

35

In [67]:
c.denominator

64

In [68]:
# Converting to a float
float(c)

0.546875

In [69]:
# Limiting the denominator of a value
print(c.limit_denominator(8))

4/7

In [70]:
# Converting a float to a fraction
x = 3.75
y = Fraction(*x.as_integer_ratio())

In [71]:
y

Fraction(15, 4)

## 3.9. Calculating with Large Numerical Arrays(处理大型数组的计算)

### Problem

You need to perform calculations on large numerical datasets, such as arrays or grids.

### Solution

For any heavy computation involving arrays, use the NumPy library. The major feature of NumPy is that it gives Python an array object that is much more efficient and better suited for mathematical calculation than a standard Python list.

In [72]:
# Python lists
x = [1,2,3,4]
y = [5,6,7,8]

In [73]:
x*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [74]:
x + y

[1, 2, 3, 4, 5, 6, 7, 8]

x + 10
Traceback (most recent call last):
File "<stdin>", line 1, in <module>
TypeError: can only concatenate list (not "int") to list

In [76]:
# Numpy arrays
import numpy as np

In [77]:
ax = np.array([1,2,3,4])

In [78]:
ay = np.array([5,6,7,8])

In [79]:
ax * 2

array([2, 4, 6, 8])

In [80]:
ax + 10

array([11, 12, 13, 14])

In [81]:
ax + ay

array([ 6,  8, 10, 12])

In [82]:
ax * ay

array([ 5, 12, 21, 32])

As you can see, basic mathematical operations involving arrays behave differently. Specifically, scalar operations (e.g., ax * 2 or ax + 10 ) apply the operation on an element-by-element basis. In addition, performing math operations when both operands are arrays applies the operation to all elements and produces a new array.

The fact that math operations apply to all of the elements simultaneously makes it very easy and fast to compute functions across an entire array.

In [83]:
def f(x):
    return 3*x**2 - 2*x + 7

In [84]:
f(ax)

array([ 8, 15, 28, 47])

NumPy provides a collection of “universal functions” that also allow for array operations. These are replacements for similar functions normally found in the *math* module.

In [85]:
np.sqrt(ax)

array([ 1.        ,  1.41421356,  1.73205081,  2.        ])

In [86]:
np.cos(ax)

array([ 0.54030231, -0.41614684, -0.9899925 , -0.65364362])

Using universal functions can be hundreds of times faster than looping over the array elements one at a time and performing calculations using functions in the *math* module. Thus, you should prefer their use whenever possible.

Under the covers, NumPy arrays are allocated in the same manner as in C or Fortran. Namely, they are large, contiguous memory regions consisting of a homogenous data type. Because of this, it’s possible to make arrays much larger than anything you would normally put into a Python list.

In [87]:
grid = np.zeros(shape=(10000,10000), dtype=float)
grid

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

All of the usual operations still apply to all of the elements simultaneously:

In [88]:
grid += 10

In [89]:
grid

array([[ 10.,  10.,  10., ...,  10.,  10.,  10.],
       [ 10.,  10.,  10., ...,  10.,  10.,  10.],
       [ 10.,  10.,  10., ...,  10.,  10.,  10.],
       ...,
       [ 10.,  10.,  10., ...,  10.,  10.,  10.],
       [ 10.,  10.,  10., ...,  10.,  10.,  10.],
       [ 10.,  10.,  10., ...,  10.,  10.,  10.]])

One extremely notable aspect of NumPy is the manner in which it extends Python’s list indexing functionality—especially with multidimensional arrays.

In [96]:
a = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])

In [97]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [98]:
#Select row 1
a[1]

array([5, 6, 7, 8])

In [99]:
#Select column 1
a[:,1]

array([ 2,  6, 10])

In [100]:
# Select a subregion and change it
a[1:3, 1:3]

array([[ 6,  7],
       [10, 11]])

In [101]:
a[1:3, 1:3] += 10

In [102]:
a

array([[ 1,  2,  3,  4],
       [ 5, 16, 17,  8],
       [ 9, 20, 21, 12]])

In [103]:
# Broadcast a row vector across an operation on all rows
a + [100, 101, 102, 103]

array([[101, 103, 105, 107],
       [105, 117, 119, 111],
       [109, 121, 123, 115]])

In [104]:
a

array([[ 1,  2,  3,  4],
       [ 5, 16, 17,  8],
       [ 9, 20, 21, 12]])

In [105]:
# Conditional assignment on an array
np.where(a<10,a,10)

array([[ 1,  2,  3,  4],
       [ 5, 10, 10,  8],
       [ 9, 10, 10, 10]])

## 3.10. Performing Matrix and Linear Algebra Calculations(矩阵和线性代数的运算)

### Problem

You need to perform matrix and linear algebra operations, such as matrix multiplication, finding determinants(求行列式), solving linear equations, and so on.

### Solution

The NumPy library has a *matrix* object that can be used for this purpose. Matrices are somewhat similar to the array objects described in Recipe 3.9, but follow linear algebra rules for computation.

In [106]:
import numpy as np

In [107]:
m = np.matrix([[1,-2,3],[0,4,5],[7,8,-9]])
m

matrix([[ 1, -2,  3],
        [ 0,  4,  5],
        [ 7,  8, -9]])

In [108]:
m.T#转置

matrix([[ 1,  0,  7],
        [-2,  4,  8],
        [ 3,  5, -9]])

In [110]:
m.I #求逆

matrix([[ 0.33043478, -0.02608696,  0.09565217],
        [-0.15217391,  0.13043478,  0.02173913],
        [ 0.12173913,  0.09565217, -0.0173913 ]])

In [111]:
# Create a vector and multiply
v = np.matrix([[2],[3],[4]])
v

matrix([[2],
        [3],
        [4]])

In [112]:
m * v

matrix([[ 8],
        [32],
        [ 2]])

## 3.11. Picking Things at Random(随机选择)

### Problem

You want to pick random items out of a sequence or generate random numbers.

### Solution

The *random* module has various functions for random numbers and picking random items. For example, to pick a random item out of a sequence, use random.*choice()*:

In [114]:
import random

In [117]:
values = [num for num in range(7)]
values

[0, 1, 2, 3, 4, 5, 6]

In [127]:
random.choice(values)

3

To take a sampling of N items where selected items are removed from further consideration, use *random.sample()* instead:

In [128]:
random.sample(values,2)

[5, 1]

In [129]:
random.sample(values,3)

[2, 5, 3]

If you simply want to shuffle items in a sequence in place, use *random.shuffle()*

In [130]:
random.shuffle(values)

In [131]:
values

[2, 0, 3, 1, 6, 4, 5]

In [133]:
random.shuffle(values)

In [134]:
values

[2, 1, 3, 0, 4, 6, 5]

To produce random integers, use *random.randint()*

In [135]:
random.randint(0,10)

3

In [136]:
random.randint(0,10)

7

To produce uniform floating-point values in the range 0 to 1, use *random.random()*

In [146]:
random.random()

0.8744721392901925

In [147]:
random.random()

0.2440792672686053

To get N random-bits(随机比特位) expressed as an integer, use *random.getrandbits()*

In [148]:
random.getrandbits(200)

455630687263852469575873145418831756111261717703315260302564

## 3.12. Converting Days to Seconds, and Other Basic Time Conversions(时间换算)

### Problem

You have code that needs to perform simple time conversions, like days to seconds, hours to minutes, and so on.

### Solution

To perform conversions and arithmetic involving different units of time, use the *datetime* module.

In [149]:
from datetime import timedelta

In [150]:
a = timedelta(days=2, hours=6)

In [151]:
b = timedelta(hours=4.5)

In [152]:
c = a + b

In [153]:
c.days

2

In [154]:
c.seconds

37800

In [155]:
c.seconds/3600

10.5

In [156]:
c.total_seconds()/3600

58.5

If you need to represent specific dates and times, create *datetime* instances and use the standard mathematical operations to manipulate them.

In [157]:
from datetime import datetime

In [158]:
a = datetime(2012, 9, 23)

In [159]:
print(a + timedelta(days=10))

2012-10-03 00:00:00

In [160]:
b = datetime(2012, 12, 21)

In [161]:
d = b - a

In [162]:
d.days

89

In [163]:
now = datetime.today()

In [168]:
print(now)

2017-11-10 19:06:14.231222

In [169]:
print(now+timedelta(minutes=10))

2017-11-10 19:16:14.231222

When making calculations, it should be noted that *datetime* is aware of leap years(闰年).

In [170]:
a = datetime(2012, 3, 1)

In [171]:
b = datetime(2012, 2, 28)

In [172]:
a - b

datetime.timedelta(2)

In [173]:
(a-b).days

2

In [174]:
c = datetime(2013, 3, 1)

In [175]:
d = datetime(2013, 2, 28)

In [176]:
(c-d).days

1

For most basic date and time manipulation problems, the *datetime* module will suffice. If you need to perform more complex date manipulations, such as dealing with time zones, fuzzy time ranges(模糊时间范围), calculating the dates of holidays, and so forth, look at the *dateutil* module.
To illustrate, many similar time calculations can be performed with the *dateutil.relativedelta()* function. However, one notable feature is that it fills in some gaps pertaining to the handling of months (and their differing number of days).

In [177]:
from dateutil.relativedelta import relativedelta

In [179]:
a = datetime(2012, 9, 23)

In [182]:
a + relativedelta(months=+1)

datetime.datetime(2012, 10, 23, 0, 0)

In [183]:
a + relativedelta(months=+4)

datetime.datetime(2013, 1, 23, 0, 0)

In [184]:
# Time between two dates
b = datetime(2012, 12, 21)

In [185]:
d = b-a

In [186]:
d

datetime.timedelta(89)

In [187]:
d = relativedelta(b,a)

In [188]:
d

relativedelta(months=+2, days=+28)

In [189]:
d.months

2

In [190]:
d.days

28

## 3.13. Determining Last Friday’s Date(计算上周五的日期)

### Problem

You want a general solution(通用方案) for finding a date for the last occurrence of a day of the week. Last Friday, for example.

### Solution

Python’s datetime module has utility functions and classes to help perform calculations like this. A decent, generic solution to this problem looks like this

In [191]:
from datetime import datetime, timedelta

In [192]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday',
'Friday', 'Saturday', 'Sunday']

In [195]:
def get_previous_byday(dayname, start_date=None):
    if start_date is None:
        start_date = datetime.today()
    day_num = start_date.weekday()
    day_num_target = weekdays.index(dayname)
    days_ago = (7+day_num-day_num_target) % 7
    if days_ago == 0:
        days_ago = 7
    target_date = start_date - timedelta(days=days_ago)
    return target_date

In [196]:
datetime.today() # For reference

datetime.datetime(2017, 11, 10, 20, 15, 30, 974355)

In [197]:
get_previous_byday('Monday')

datetime.datetime(2017, 11, 6, 20, 16, 11, 252726)

In [198]:
get_previous_byday('Friday')

datetime.datetime(2017, 11, 3, 20, 16, 59, 874939)

### Discussion

This recipe works by mapping the start date and the target date to their numeric position in the week (with Monday as day 0). Modular arithmetic is then used to figure out how many days ago the target date last occurred. From there, the desired date is calculated from the start date by subtracting an appropriate timedelta instance.

## 3.14. Finding the Date Range for the Current Month

### Problem

You have some code that needs to loop over each date in the current month, and want an efficient way to calculate that date range.

### Solution

Looping over the dates doesn’t require building a list of all the dates ahead of time. You can just calculate the starting and stopping date in the range, then use datetime.timedelta objects to increment the date as you go.

Here’s a function that takes any datetime object, and returns a tuple containing the first date of the month and the starting date of the next month:

In [199]:
from datetime import datetime, date, timedelta
import calendar

In [200]:
def get_month_range(start_date=None):
    if start_date is None:
        start_date = date.today().replace(day=1)
    _, days_in_month = calendar.monthrange(start_date.year, start_date.month)
    end_date = start_date + timedelta(days=days_in_month)
    return (start_date, end_date)

With this in place, it’s pretty simple to loop over the date range

In [201]:
a_day = timedelta(days=1)

In [202]:
first_day, last_day = get_month_range()

In [203]:
while first_day < last_day:
    print(first_day)
    first_day += a_day

2017-11-01
2017-11-02
2017-11-03
2017-11-04
2017-11-05
2017-11-06
2017-11-07
2017-11-08
2017-11-09
2017-11-10
2017-11-11
2017-11-12
2017-11-13
2017-11-14
2017-11-15
2017-11-16
2017-11-17
2017-11-18
2017-11-19
2017-11-20
2017-11-21
2017-11-22
2017-11-23
2017-11-24
2017-11-25
2017-11-26
2017-11-27
2017-11-28
2017-11-29
2017-11-30

## 3.15. Converting Strings into Datetimes(将字符串转换为日期)

### Problem

Your application receives temporal data in string format, but you want to convert those strings into *datetime* objects in order to perform nonstring operations on them.

### Solution

In [204]:
from datetime import datetime

In [205]:
text = '2012-09-20'

In [206]:
y = datetime.strptime(text, '%Y-%m-%d')

In [207]:
z = datetime.now()

In [208]:
diff = z - y

In [209]:
diff

datetime.timedelta(1877, 74105, 174245)

## 3.16. Manipulating Dates Involving Time Zones(处理涉及到时区的日期问题)

### Problem

You had a conference call scheduled for December 21, 2012, at 9:30 a.m. in Chicago. At what local time did your friend in Bangalore, India, have to show up to attend?

### Solution

For almost any problem involving time zones, you should use the pytz module. This package provides the Olson time zone database, which is the de facto standard for time zone information found in many languages and operating systems.

A major use of *pytz* is in localizing simple dates created with the datetime library.

In [210]:
from datetime import datetime

In [211]:
from pytz import timezone

In [212]:
d = datetime(2012, 12, 21, 9, 30, 0)

In [213]:
print(d)

2012-12-21 09:30:00

In [216]:
# Localize the date for Chicago
central = timezone('US/Central')
loc_d = central.localize(d)
print(loc_d)

2012-12-21 09:30:00-06:00

Once the date has been localized, it can be converted to other time zones. To find the same time in Bangalore, you would do this:

In [219]:
# Convert to Bangalore time
bang_d = loc_d.astimezone(timezone('Asia/Tokyo'))
print(bang_d)

2012-12-22 00:30:00+09:00