# Ch01- Data Structures and Algorithms

## 1.1. Unpacking a Sequence into Separate Variables (将序列分解为单独的变量)

### Problem

You have an N-element tuple or sequence that you would like to unpack into a collection of N variables.

### Solution

Any sequence (or iterable) can be unpacked into variables using a simple assignment operation. The only requirement is that the number of variables and structure match the sequence.

In [1]:
p = {4,5}

In [2]:
x , y = p

In [3]:
print(x,y)

4 5

### Discussion

Unpacking actually works with any object that happens to be iterable, not just tuples or lists. This includes strings, files, iterators, and generators.

In [4]:
s = 'Hello'

In [5]:
a, b, c, d, e =s

In [6]:
print(a,b,c,d,e)

H e l l o

When unpacking, you may sometimes want to discard(丢弃) certain values. Python has no special syntax for this, but you can often just pick a throwaway(用不到的) variable name for it.

## 1.2. Unpacking Elements from Iterables of Arbitrary Length(从任意长度的可迭代对象中分解元素)

### Problem

You need to unpack N elements from an iterable, but the iterable may be longer than N elements, causing a “too many values to unpack(分解值过多)” exception(异常)

Python “star expressions”(*表达式)can be used to address this problem. For example, suppose you run a course and decide at the end of the semester that you’re going to drop the first and last homework grades, and only average the rest of them. If there are only four assignments, maybe you simply unpack all four, but what if there are 24? A star expression makes it easy:

In [7]:
import numpy as np

In [8]:
def drop_first_last(grades):
    first, *middle, last = grades
    return np.mean(middle) # 主要用来计算包含在特定查询字段中的一组数值的算术平均值

In [9]:
grades = [1] + [2] *22 + [24]
drop_first_last(grades)

2.0

As another use case, suppose you have user records that consist of a name and email address, followed by an arbitrary number of phone numbers.

In [10]:
record = ('Dave', 'dave@example.com', '773-555-1212', '847-555-1212')

In [11]:
name, email, *phone_numbers = record

In [12]:
name

'Dave'

In [13]:
email

'dave@example.com'

In [14]:
phone_numbers

['773-555-1212', '847-555-1212']

### Discussion

It is worth noting(值得注意的) that the star syntax can be especially useful when iterating over a sequence of tuples of varying length. For example, perhaps a sequence of tagged tuples:

In [15]:
records = [
('foo', 1, 2),
('bar', 'hello'),
('foo', 3, 4),
]

In [16]:
def do_foo(x, y):
    print('foo', x, y)
def do_bar(s):
    print('bar', s)
for tag, *args in records:
    if tag == 'foo':
        do_foo(*args)
    elif tag == 'bar':
        do_bar(*args)

foo 1 2
bar hello
foo 3 4

Star unpacking can also be useful when combined with certain kinds of string processing operations, such as splitting(拆分)

In [17]:
line = 'nobody:*:-2:-2:Unprivileged User:/var/empty:/usr/bin/false'

In [18]:
uname, *fields, homedir, sh = line.split(':')

In [19]:
uname

'nobody'

In [20]:
homedir

'/var/empty'

In [21]:
sh

'/usr/bin/false'

Sometimes you might want to unpack values and throw them away. You can’t just specify a bare * when unpacking, but you could use a common throwaway variable name, such as _ or ign (ignored).

In [22]:
record = ('ACME', 50, 123.45, (12, 18, 2012))

In [23]:
name, *_, (*_,year) = record

In [24]:
name

'ACME'

In [25]:
year

2012

There is a certain similarity between star unpacking and list-processing features of various functional languages. For example, if you have a list, you can easily split it into head and tail components like this:

In [26]:
items = [1, 10, 7, 4, 5, 9]

In [27]:
head, *tail = items

In [28]:
head

1

In [29]:
tail

[10, 7, 4, 5, 9]

One could imagine writing functions that perform such splitting in order to carry out some kind of clever recursive algorithm(递归算法).

In [30]:
def sum(items):
    head, *tail = items
    return head + sum(tail) if tail else head

In [31]:
sum(items)

36

## 1.3. Keeping the Last N Items

### Problem

You want to keep a limited history of the last few items seen during iteration or during some other kind of processing.

### Solution

from collections import deque
def search(lines, pattern, history=5):
    previous_lines = deque(maxlen=history)
    for line in lines:
        if pattern in line:
            yield line, previous_lines
        previous_lines.append(line)

if __name__ == '__main__':
    with open('C:/Users/Administrator/python/Python Cookbook/somefile.txt') as f:
        for line, prevlines in search(f, 'python', 5):
            for pline in prevlines:
                print(pline, end='')
            print(line, end='')
            print('-'*20)

When writing code to search for items, it is common to use a generator function involving yield(含有yield关键字的生成器函数), as shown in this recipe’s solution. This decouples the process of searching from the code that uses the results.

Using deque(maxlen=N) creates a fixed-sized queue(固定长度的队列). When new items are added and the queue is full, the oldest item is automatically removed.

In [32]:
from collections import deque

In [33]:
q = deque(maxlen=3)

In [34]:
q.append(1)

In [35]:
q.append(2)

In [36]:
q.append(3)

In [37]:
q

deque([1, 2, 3])

In [38]:
q.append(4)

In [39]:
q

deque([2, 3, 4])

In [40]:
q.append(5)
q

deque([3, 4, 5])

More generally, a deque can be used whenever you need a simple queue structure. If you don’t give it a maximum size, you get an unbounded queue that lets you append and pop items on either end.

In [41]:
q = deque()

In [42]:
q.append(1)

In [43]:
q.append(2)

In [44]:
q.append(3)

In [45]:
q

deque([1, 2, 3])

In [46]:
q.appendleft(4)
q

deque([4, 1, 2, 3])

In [47]:
q.pop() # pop() 方法用于删除并返回数组的最后一个元素

3

In [48]:
print(q)
q.popleft()
print(q)

deque([4, 1, 2])
deque([1, 2])

Adding or popping items from either end of a queue has O(1) complexity. This is unlike a list where inserting or removing items from the front of the list is O(N).

## 1.4. Finding the Largest or Smallest N Items

### Problem

You want to make a list of the largest or smallest N items in a collection.

### Solution

The heapq module has two functions—*nlargest()* and *nsmallest()*—that do exactly what you want.

heapq.nlargest(n, nums) 返回最大的n个数;heapq.nsmallest(n, nums) 返回最小的n个数

In [49]:
import heapq
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]
print(heapq.nlargest(3, nums)) # Prints [42, 37, 23]
print(heapq.nsmallest(3, nums)) # Prints [-4, 1, 2]

[42, 37, 23]
[-4, 1, 2]

Both functions also accept a *key* parameter that allows them to be used with more complicated data structures.

In [50]:
portfolio = [
{'name': 'IBM', 'shares': 100, 'price': 91.1},
{'name': 'AAPL', 'shares': 50, 'price': 543.22},
{'name': 'FB', 'shares': 200, 'price': 21.09},
{'name': 'HPQ', 'shares': 35, 'price': 31.75},
{'name': 'YHOO', 'shares': 45, 'price': 16.35},
{'name': 'ACME', 'shares': 75, 'price': 115.65}
]

In [51]:
cheap = heapq.nsmallest(3, portfolio, key=lambda s: s['price'])
print(cheap)
expensive = heapq.nlargest(3, portfolio, key=lambda s: s['price'])
print(expensive)

[{'name': 'YHOO', 'shares': 45, 'price': 16.35}, {'name': 'FB', 'shares': 200, 'price': 21.09}, {'name': 'HPQ', 'shares': 35, 'price': 31.75}]
[{'name': 'AAPL', 'shares': 50, 'price': 543.22}, {'name': 'ACME', 'shares': 75, 'price': 115.65}, {'name': 'IBM', 'shares': 100, 'price': 91.1}]

### Discussion

If you are looking for the N smallest or largest items and N is small compared to the overall size of the collection, these functions provide superior performance.Underneath the covers, they work by first converting the data into a list where items are ordered as a heap(堆).

In [52]:
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]

In [53]:
import heapq

In [54]:
heap = list(nums)

In [55]:
heapq.heapify(heap)
heap

[-4, 2, 1, 23, 7, 2, 18, 23, 42, 37, 8]

The most important feature of a heap is that heap[0] is always the smallest item. Moreover, subsequent items can be easily found using the heapq.heappop() method, which pops off the first item and replaces it with the next smallest item (an operation that requires O(log N) operations where N is the size of the heap).

In [56]:
heapq.heappop(heap)

-4

In [57]:
heapq.heappop(heap)

1

In [58]:
heapq.heappop(heap)

2

## 1.5. Implementing a Priority Queue(实现优先级队列)

### Problem

You want to implement a queue that sorts items by a given priority and always returns the item with the highest priority on each pop operation.

### Solution

In [59]:
import heapq
class PriorityQueue:
    def __init__(self):
        self._queue = []
        self._index = 0
    def push(self, item, priority):
        heapq.heappush(self._queue, (-priority, self._index, item))
        self._index += 1
    def pop(self):
        return heapq.heappop(self._queue)[-1]

Here is an example of how it might be used:

In [60]:
class Item:
    def __init__(self, name):
        self.name = name
    def __repr__(self): # 对应repr(object)这个功能。意思是当需要显示一个对象在屏幕上时，
                        #将这个对象的属性或者是方法整理成一个可以打印输出的格式。
        return 'Item({!r})'.format(self.name)

In [61]:
q = PriorityQueue()

In [62]:
q.push(Item('foo'), 1)

In [63]:
q.push(Item('bar'), 5)

In [64]:
q.push(Item('spam'), 4)

In [65]:
q.push(Item('grok'), 1)

In [66]:
q.pop()

Item('bar')

In [67]:
q.pop()

Item('spam')

In [68]:
q.pop()

Item('foo')

In [69]:
q.pop()

Item('grok')

### Discussion

The core of this recipe concerns the use of the *heapq* module. The functions *heapq.heappush()* and *heapq.heappop()* insert and remove items from a list *_queue* in a way such that the first item in the list has the smallest priority

The *heappop()* method always returns the “smallest” item, so that is the key to making the queue pop the correct items. Moreover, since the push and pop operations have O(logN) complexity where N is the number of items in the heap, they are fairly efficient even for fairly large values of N.

In this recipe, the queue consists of tuples of the form *(-priority, index, item)*. The priority value is negated(取负) to get the queue to sort items from highest priority to lowest priority. This is opposite of the normal heap ordering, which sorts from lowest to highest value.

The role of the *index* variable is to properly order items with the same priority level.By keeping a constantly increasing index, the items will be sorted according to the order in which they were inserted. However, the index also serves an important role in making the comparison operations work for items that have the same priority level.

Item in the example can’t be ordered
>>> a = Item('foo')
>>> b = Item('bar')
>>> a < b
Traceback (most recent call last):
File "<stdin>", line 1, in <module>
TypeError: unorderable types: Item() < Item()
>>>

If you make *(priority, item)* tuples, they can be compared as long as the priorities are different. However, if two tuples with equal priorities are compared, the comparison fails as before.

>>> a = (1, Item('foo'))
>>> b = (5, Item('bar'))
>>> a < b
True
>>> c = (1, Item('grok'))
>>> a < c
Traceback (most recent call last):
File "<stdin>", line 1, in <module>
TypeError: unorderable types: Item() < Item()
>>>

By introducing the extra index and making *(priority, index, item)* tuples, you avoid this problem entirely since no two tuples will ever have the same value for *index* (and Python never bothers to compare the remaining tuple values once the result of comparison can be determined)

In [70]:
a = (1, 0, Item('foo'))

In [71]:
b = (5, 1, Item('bar'))

In [72]:
c = (1, 2, Item('grok'))

In [73]:
a < b

True

In [74]:
a < c

True

## 1.6. Mapping Keys to Multiple Values in a Dictionary

### Problem

You want to make a dictionary that maps keys to more than one value (a so-called “multidict”).

### Solution

A dictionary is a mapping where each key is mapped to a single value. If you want to map keys to multiple values, you need to store the multiple values in another container such as a list or set.

In [75]:
d = {
'a' : [1, 2, 3],
'b' : [4, 5]
}
e = {
'a' : {1, 2, 3},
'b' : {4, 5}
}

The choice of whether or not to use lists(列表) or sets(集合) depends on intended use. Use a list if you want to preserve the insertion order of the items. Use a set if you want to eliminate duplicates (and don’t care about the order).

To easily construct such dictionaries, you can use *defaultdict* in the *collections* module. A feature of *defaultdict* is that it automatically initializes the first value so you can simply focus on adding items.

In [76]:
from collections import defaultdict
d = defaultdict(list)
d['a'].append(1)
d['a'].append(2)
d['b'].append(4)
d['b'].append(5)
d

defaultdict(list, {'a': [1, 2], 'b': [4, 5]})

In [77]:
d['a']

[1, 2]

In [78]:
d = defaultdict(set)
d['a'].add(1)
d['a'].add(2)
d['b'].add(4)
d['b'].add(67)
d

defaultdict(set, {'a': {1, 2}, 'b': {4, 67}})

One caution with defaultdict is that it will automatically create dictionary entries for keys accessed later on (even if they aren’t currently found in the dictionary). If you don’t want this behavior, you might use setdefault() on an ordinary dictionary instead.

In [79]:
d = {} # A regular dictionary
d.setdefault('a', []).append(1)
d.setdefault('a', []).append(2)
d.setdefault('b', []).append(4)
d.setdefault('b', []).append(5)
d

{'a': [1, 2], 'b': [4, 5]}

### Discussion

In principle, constructing a multivalued dictionary is simple. However, initialization of the first value can be messy if you try to do it yourself.

In [80]:
d={}
pairs = {('a',1),('a',2), ('b',4), ('b',5)}
for key, value in pairs:
    if key not in d:
        d[key] = []
    d[key].append(value)

In [81]:
d

{'a': [1, 2], 'b': [4, 5]}

Using a *defaultdict* simply leads to much cleaner code:

In [82]:
d = defaultdict(list)
for key,value in pairs:
    d[key].append(value)
print(d)

defaultdict(<class 'list'>, {'a': [1, 2], 'b': [4, 5]})

## 1.7. Keeping Dictionaries in Order

## Problem

You want to create a dictionary, and you also want to control the order of items when iterating or serializing.

## Solution

To control the order of items in a dictionary, you can use an *OrderedDict* from the *collections* module. It exactly preserves the original insertion order of data when iterating.

In [83]:
from collections import OrderedDict
d = OrderedDict()
d['foo'] = 1
d['bar'] = 2
d['spam'] = 3
d['grok'] = 4

# Outputs "foo 1", "bar 2", "spam 3", "grok 4"
for key in d:
    print(key, d[key])

foo 1
bar 2
spam 3
grok 4

An *OrderedDict* can be particularly useful when you want to build a mapping that you may want to later serialize or encode into a different format. For example, if you want to precisely control the order of fields appearing in a JSON encoding, first building the data in an *OrderedDict* will do the trick:

In [84]:
import json
json.dumps(d)

'{"foo": 1, "bar": 2, "spam": 3, "grok": 4}'

### Discussion

An *OrderedDict* internally maintains a doubly linked list(双向列表) that orders the keys according to insertion order. When a new item is first inserted, it is placed at the end of this list. Subsequent reassignment of an existing key doesn’t change the order.
Be aware that the size of an *OrderedDict* is more than twice as large as a normal dictionary due to the extra linked list that’s created. Thus, if you are going to build a data structure involving a large number of OrderedDict instances (e.g., reading 100,000 lines of a CSV file into a list of OrderedDict instances), you would need to study the requirements of your application to determine if the benefits of using an OrderedDict outweighed the extra memory overhead.

## Calculating with Dictionaries

### Problem

You want to perform various calculations (e.g., minimum value, maximum value, sorting, etc.) on a dictionary of data.

### Solution

Consider a dictionary that maps stock names to prices:

In [85]:
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}

In order to perform useful calculations on the dictionary contents, it is often useful to invert the keys and values of the dictionary using *zip()*. For example, here is how to find the minimum and maximum price and stock name:

In [86]:
min_price = min(zip(prices.values(), prices.keys()))
# min_price is (10.75, 'FB')
max_price = max(zip(prices.values(), prices.keys()))
# max_price is (612.78, 'AAPL')

In [87]:
min_price

(10.75, 'FB')

In [88]:
max_price

(612.78, 'AAPL')

Similarly, to rank the data, use zip() with sorted(), as in the following

In [89]:
prices_sorted = sorted(zip(prices.values(), prices.keys()))
prices_sorted

[(10.75, 'FB'),
 (37.2, 'HPQ'),
 (45.23, 'ACME'),
 (205.55, 'IBM'),
 (612.78, 'AAPL')]

### Discussion

If you try to perform common data reductions on a dictionary, you’ll find that they only process the keys, not the values.

In [90]:
min(prices)

'AAPL'

This is probably not what you want because you’re actually trying to perform a calculation involving the dictionary values. You might try to fix this using the values() method of a dictionary:

In [91]:
min(prices.values())

10.75

Unfortunately, this is often not exactly what you want either. For example, you may want to know information about the corresponding keys (e.g., which stock has the lowest price?).

You can get the *key* corresponding to the min or max value if you supply a key function to min() and max().

In [92]:
print(min(prices, key=lambda k: prices[k]))
print(max(prices, key=lambda k: prices[k]))

FB
AAPL

However, to get the minimum value, you’ll need to perform an extra lookup step.

In [93]:
min_value = prices[min(prices, key=lambda k:prices[k])]
min_value

10.75

The solution involving zip() solves the problem by “inverting” the dictionary into a sequence of (value, key) pairs. When performing comparisons on such tuples, the value element is compared first, followed by the key. This gives you exactly the behavior that you want and allows reductions(整理) and sorting to be easily performed on the dictionary contents using a single statement.

It should be noted that in calculations involving *(value, key)* pairs, the key will be used to determine the result in instances where multiple entries happen to have the same value. For instance, in calculations such as min() and max(), the entry with the smallest or largest key will be returned if there happen to be duplicate values.

In [94]:
prices = { 'AAA' : 45.23, 'ZZZ': 45.23 }

In [95]:
min(zip(prices.values(), prices.keys()))

(45.23, 'AAA')

In [96]:
max(zip(prices.values(), prices.keys()))

(45.23, 'ZZZ')

## 1.9. Finding Commonalities(共同点) in Two Dictionaries

### Problem

You have two dictionaries and want to find out what they might have in common (same keys, same values, etc.).

### Solution

In [97]:
a = {
'x' : 1,
'y' : 2,
'z' : 3
}
b = {
'w' : 10,
'x' : 11,
'y' : 2
}

To find out what the two dictionaries have in common, simply perform common set operations using the keys() or items() methods.

In [98]:
# Find keys in common
a.keys() & b.keys() # { 'x', 'y' }

{'x', 'y'}

In [99]:
# Find keys in a that are not in b
a.keys() - b.keys() # { 'z'

{'z'}

In [100]:
# Find (key, value) pairs in common
a.items() & b.items()

{('y', 2)}

These kinds of operations can also be used to alter or filter dictionary contents. For example, suppose you want to make a new dictionary with selected keys removed. Here is some sample code using a dictionary comprehension:

In [101]:
# Make a new dictionary with certain keys removed
c = {key:a[key] for key in a.keys() - {'z', 'w'}}
# c is {'x': 1, 'y': 2}

In [102]:
c

{'x': 1, 'y': 2}

### Discussion

A dictionary is a mapping(映射) between a set of keys and values. The *keys()* method of a dictionary returns a keys-view object that exposes the keys. A little-known feature of keys views is that they also support common set operations such as unions(并集), intersections(交集), and differences(差集). Thus, if you need to perform common set operations(集合操作) with dictionary keys, you can often just use the keys-view objects directly without first converting them into a set

The *items()* method of a dictionary returns an items-view object consisting of *(key, value)* pairs. This object supports similar set operations and can be used to perform operations such as finding out which key-value pairs two dictionaries have in common.

Although similar, the *values()* method of a dictionary does not support the set operations described in this recipe. In part, this is due to the fact that unlike keys, the items contained in a values view aren’t guaranteed to be unique. This alone makes certain set operations of questionable utility. However, if you must perform such calculations, they can be accomplished by simply converting the values to a set first.

## 1.10. Removing Duplicates from a Sequence while Maintaining Order(从序列中移除重复项且保持元素间顺序不变)

### Problem

You want to eliminate the duplicate values in a sequence, but preserve the order of the remaining items.

### Solution

If the values in the sequence are hashable(可哈希的), the problem can be easily solved using a set and a generator.

如果一个对象是可哈希的，那么它的生存期内必须是不可变的， 它需要有一个\__hash\__()方法。
整数，浮点数，字符串，元组都是不可变的

In [103]:
def dedupe(items):
    seen = set()
    for item in items:
            if item not in seen:
                yield item
                seen.add(item)

In [104]:
 a = [1, 5, 2, 1, 9, 1, 5, 10]

In [105]:
list(dedupe(a))

[1, 5, 2, 9, 10]

This only works if the items in the sequence are hashable(即不可变的). If you are trying to eliminate
duplicates in a sequence of unhashable types (such as dicts), you can make a slight change to this recipe

In [106]:
def dedupe(items, key=None):
    seen = set()
    for item in items:
        val = item if key is None else key(item)
        if val not in seen:
            yield item
            
            seen.add(val)

Here, the purpose of the key argument is to specify a function that converts sequence items into a hashable type for the purposes of duplicate detection.

In [107]:
a = [ {'x':1, 'y':2}, {'x':1, 'y':3}, {'x':1, 'y':2}, {'x':2, 'y':4}]

In [108]:
list(dedupe(a, key=lambda d: (d['x'],d['y'])))

[{'x': 1, 'y': 2}, {'x': 1, 'y': 3}, {'x': 2, 'y': 4}]

In [109]:
list(dedupe(a, key=lambda d: d['x']))

[{'x': 1, 'y': 2}, {'x': 2, 'y': 4}]

#### Process with Pandas

In [110]:
import pandas as pd
a = [1, 5, 2, 1, 9, 1, 5, 10]
a = pd.Series(a)
a

0     1
1     5
2     2
3     1
4     9
5     1
6     5
7    10
dtype: int64

In [111]:
a = a.drop_duplicates()
a

0     1
1     5
2     2
4     9
7    10
dtype: int64

In [112]:
a = a.tolist() #将Series转换成list
a

[1, 5, 2, 9, 10]

### Discussion

If all you want to do is eliminate duplicates, it is often easy enough to make a set(集合).

In [113]:
a = [1, 5, 2, 1, 9, 1, 5, 10]
set(a)

{1, 2, 5, 9, 10}

However, this approach doesn’t preserve any kind of ordering. So, the resulting data will be scrambled afterward. The solution shown avoids this.

## 1.11. Naming a Slice

### Problem

Your program has become an unreadable mess of hardcoded slice indices and you want to clean it up.


### Solution


Suppose you have some code that is pulling specific data fields out of a record string with fixed fields (e.g., from a flat file(平面文件) or similar format):
平面文件是一种包含没有相对关系结构的文件

In [114]:
record = '....................100 .......513.25 ..........'
cost = int(record[20:22]) * float(record[31:38])

In [115]:
SHARES = slice(20, 22)
PRICE = slice(31, 38)
cost = int(record[SHARES]) * float(record[PRICE])
cost

5132.5

In the latter version, you avoid having a lot of mysterious hardcoded indices, and what you’re doing becomes much clearer.

### Discussion


As a general rule, writing code with a lot of hardcoded index values leads to a readability and maintenance mess. For example, if you come back to the code a year later, you’ll look at it and wonder what you were thinking when you wrote it. The solution shown is simply a way of more clearly stating what your code is actually doing.

In general, the *built-in slice()* creates a slice object that can be used anywhere a slice is allowed.

In [116]:
items = [0, 1, 2, 3, 4, 5, 6]

In [117]:
a = slice(2,4)
items[a]

[2, 3]

In [118]:
items[a] = [10,11]
items

[0, 1, 10, 11, 4, 5, 6]

In [119]:
del items[a]
items

[0, 1, 4, 5, 6]

If you have a *slice* instance *s*, you can get more information about it by looking at its *s.start*, *s.stop*, and *s.step* attributes, respectively

In [120]:
a = slice(10, 50, 2)

In [121]:
a.start

10

In [122]:
a.stop

50

In [123]:
a.step

2

In addition, you can map a slice onto a sequence of a specific size by using its *indices(size)* method. This returns a tuple *(start, stop, step)* where all values have been suitably limited to fit within bounds (as to avoid *IndexError* exceptions when indexing).

In [124]:
s = 'HelloWorld'

In [125]:
a = slice(5,50,2)
a.indices(10)

(5, 10, 2)

In [126]:
for i in range(*a.indices(len(s))):
    print(s[i])

W
r
d

## 1.12. Determining the Most Frequently Occurring Items in a Sequence

### Problem

You have a sequence of items, and you’d like to determine the most frequently occurring items in the sequence.

### Solution

The *collections.Counter* classis designed for just such a problem. It even comes with a handy *most_common()* method that will give you the answer.

In [127]:
words = [
'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
'my', 'eyes', "you're", 'under'
]

In [128]:
from collections import Counter
word_counts = Counter(words)
top_three = word_counts.most_common(3)
print(top_three)

[('eyes', 8), ('the', 5), ('look', 4)]

#### Process with pandas

In [129]:
import pandas as pd
words = pd.Series(words)
words.head()

0    look
1    into
2      my
3    eyes
4    look
dtype: object

In [130]:
pandas_top_three = words.value_counts()[:3]

In [131]:
pandas_top_three.to_dict()

{'eyes': 8, 'look': 4, 'the': 5}

### Discussion

As input, Counter objects can be fed(被输入) any sequence of hashable input items. Under the covers(在底层实现中), a Counter is a dictionary that maps the items to the number of occurrences.

In [132]:
word_counts['not']

1

In [133]:
word_counts['eyes']

8

A little-known feature of Counter instances is that they can be easily combined using various mathematical operations.

In [134]:
morewords = ['why','are','you','not','looking','in','my','eyes']
words = [
'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
'my', 'eyes', "you're", 'under'
]

In [135]:
a = Counter(words)

In [136]:
b = Counter(morewords)

In [137]:
a

Counter({'around': 2,
         "don't": 1,
         'eyes': 8,
         'into': 3,
         'look': 4,
         'my': 3,
         'not': 1,
         'the': 5,
         'under': 1,
         "you're": 1})

In [138]:
b

Counter({'are': 1,
         'eyes': 1,
         'in': 1,
         'looking': 1,
         'my': 1,
         'not': 1,
         'why': 1,
         'you': 1})

In [139]:
c = a+b

In [140]:
c

Counter({'are': 1,
         'around': 2,
         "don't": 1,
         'eyes': 9,
         'in': 1,
         'into': 3,
         'look': 4,
         'looking': 1,
         'my': 4,
         'not': 2,
         'the': 5,
         'under': 1,
         'why': 1,
         'you': 1,
         "you're": 1})

In [141]:
d = a-b

In [142]:
d

Counter({'around': 2,
         "don't": 1,
         'eyes': 7,
         'into': 3,
         'look': 4,
         'my': 2,
         'the': 5,
         'under': 1,
         "you're": 1})

## 1.13. Sorting a List of Dictionaries by a Common Key(通过公共键对字典列表排序)

### Problem

You have a list of dictionaries and you would like to sort the entries according to one or more of the dictionary values.

### Solution

Sorting this type of structure is easy using the *operator* module’s *itemgetter* function.

In [143]:
rows = [
{'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
{'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]

In [144]:
from operator import itemgetter
rows_by_fname = sorted(rows, key=itemgetter('fname'))
rows_by_uid = sorted(rows, key=itemgetter('uid'))
print(rows_by_fname)
print(rows_by_uid)

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]
[{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}]

The *itemgetter()* function can also accept multiple keys. For example, this code

In [145]:
rows_by_lfname = sorted(rows, key=itemgetter('lname','fname'))
print(rows_by_lfname)

[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}, {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}]

#### Process with Pandas

In [146]:
pandas_rows = pd.DataFrame(rows)
pandas_rows

   fname    lname   uid
0  Brian    Jones  1003
1  David  Beazley  1002
2   John   Cleese  1001
3    Big    Jones  1004

In [147]:
pandas_rows.sort_values(['uid', 'lname'])

   fname    lname   uid
2   John   Cleese  1001
1  David  Beazley  1002
0  Brian    Jones  1003
3    Big    Jones  1004

### Discussion

In this example, *rows* is passed to the built-in *sorted()* function, which accepts a keyword argument(关键字参数) key. This argument is expected to be a callable(可调用对象) that accepts a single item from *rows* as input and returns a value that will be used as the basis for sorting. The *itemgetter()* function creates just such a callable.

The functionality of *itemgetter()* is sometimes replaced by *lambda* expressions

## 1.14. Sorting Objects Without Native Comparison Support(对不原生支持比较操作的对象排序)

### Problem

You want to sort objects of the same class, but they don’t natively support comparison operations.

### Solution

The *built-in sorted()* function takes a key argument that can be passed a callable that will return some value in the object that sorted will use to compare the objects.For example, if you have a sequence of *User* instances in your application(应用), and you want to sort them by their user_id attribute, you would supply a callable that takes a *User* instance as input and returns the *user_id*.

In [148]:
class User:
    def __init__(self, user_id):
        self.user_id = user_id
    def __repr__(self):
        return 'User({})'.format(self.user_id)

In [149]:
users = [User(23), User(3), User(99)]
users

[User(23), User(3), User(99)]

In [150]:
sorted(users, key=lambda u: u.user_id)

[User(3), User(23), User(99)]

### Discussion

The choice of whether or not to use *lambda* or *attrgetter()* may be one of personal preference. However, *attrgetter()* is often a tad(少量) bit faster and also has the added feature of allowing multiple fields to be extracted simultaneously. This is analogous(相似的) to the use of operator.itemgetter() for dictionaries

## 1.15. Grouping Records Together Based on a Field(根据字段将记录分组)

### Problem

You have a sequence of dictionaries or instances and you want to iterate over the data in groups based on the value of a particular field, such as date

### Solution

The *itertools.groupby()* function is particularly useful for grouping data together like this. To illustrate, suppose you have the following list of dictionaries:

In [151]:
rows = [
{'address': '5412 N CLARK', 'date': '07/01/2012'},
{'address': '5148 N CLARK', 'date': '07/04/2012'},
{'address': '5800 E 58TH', 'date': '07/02/2012'},
{'address': '2122 N CLARK', 'date': '07/03/2012'},
{'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
{'address': '1060 W ADDISON', 'date': '07/02/2012'},
{'address': '4801 N BROADWAY', 'date': '07/01/2012'},
{'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

Now suppose you want to iterate over the data in chunks grouped by date. To do it, first sort by the desired field(目标字段) (in this case, date) and then use *itertools.groupby()*:

In [152]:
from operator import itemgetter
from itertools import groupby
# Sort by the desired field first
rows.sort(key=itemgetter('date'))
# Iterate in groups
for date, items in groupby(rows, key=itemgetter('date')):
    print(date)
    for i in items:
        print(' ', i)

07/01/2012
  {'address': '5412 N CLARK', 'date': '07/01/2012'}
  {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
07/02/2012
  {'address': '5800 E 58TH', 'date': '07/02/2012'}
  {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
  {'address': '1060 W ADDISON', 'date': '07/02/2012'}
07/03/2012
  {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
  {'address': '5148 N CLARK', 'date': '07/04/2012'}
  {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

#### Process with Pandas

In [153]:
pandas_rows = pd.DataFrame(rows)
pandas_rows

             address        date
0       5412 N CLARK  07/01/2012
1    4801 N BROADWAY  07/01/2012
2        5800 E 58TH  07/02/2012
3  5645 N RAVENSWOOD  07/02/2012
4     1060 W ADDISON  07/02/2012
5       2122 N CLARK  07/03/2012
6       5148 N CLARK  07/04/2012
7   1039 W GRANVILLE  07/04/2012

In [154]:
pandas_rows.set_index('date', inplace=True)
pandas_rows

                      address
date
07/01/2012       5412 N CLARK
07/01/2012    4801 N BROADWAY
07/02/2012        5800 E 58TH
07/02/2012  5645 N RAVENSWOOD
07/02/2012     1060 W ADDISON
07/03/2012       2122 N CLARK
07/04/2012       5148 N CLARK
07/04/2012   1039 W GRANVILLE

### Discussion

The *groupby()* function works by scanning a sequence and finding sequential “runs” of identical values (or values returned by the given key function). On each iteration, it returns the value along with an iterator that produces all of the items in a group with the same value.

An important preliminary step is sorting the data according to the field of interest. Since *groupby()* only examines consecutive items, failing to sort first won’t group the records as you want.

If your goal is to simply group the data together by dates into a large data structure that allows random access, you may have better luck using *defaultdict()* to build a multidict

In [155]:
from collections import defaultdict
rows_by_date = defaultdict(list)
for row in rows:
    rows_by_date[row['date']].append(row)

In [156]:
for r in rows_by_date['07/01/2012']:
    print(r)

{'address': '5412 N CLARK', 'date': '07/01/2012'}
{'address': '4801 N BROADWAY', 'date': '07/01/2012'}

## 1.16. Filtering Sequence Elements

### Problem

You have data inside of a sequence, and need to extract values or reduce the sequence using some criteria.

### Solution

The easiest way to filter sequence data is often to use a list comprehension(列表推导式).

In [157]:
mylist = [1, 4, -5, 10, -7, 2, 3, -1]

In [158]:
[n for n in mylist if n>0]

[1, 4, 10, 2, 3]

In [162]:
[n for n in mylist if  n<0]

[-5, -7, -1]

One potential downside(缺陷) of using a list comprehension is that it might produce a large result if the original input is large. If this is a concern, you can use generator expressions(生成器表达式) to produce the filtered values iteratively.

In [163]:
pos = (n for n in mylist if n > 0)

In [164]:
pos

In [165]:
for x in pos:
    print(x)

1
4
10
2
3

Sometimes, the filtering criteria cannot be easily expressed in a list comprehension or generator expression. For example, suppose that the filtering process involves exception handling or some other complicated detail. For this, put the filtering code into its own function and use the *built-in filter()* function.

In [166]:
values = ['1', '2', '-3', '-', '4', 'N/A', '5']

def is_int(val):
    try:
        x = int(val)
        return True
    except ValueError:
        return False
ivals = list(filter(is_int, values))
print(ivals)

*filter()* creates an iterator(迭代器), so if you want to create a list of results, make sure you also use *list()* as shown

### Discussion

List comprehensions and generator expressions are often the easiest and most straightforward ways to filter simple data. They also have the added power to transform the data at the same time.

In [168]:
mylist = [1, 4, -5, 10, -7, 2, 3, -1]

In [169]:
import math

In [171]:
[math.sqrt(n) for n in mylist if n>0]

[1.0, 2.0, 3.1622776601683795, 1.4142135623730951, 1.7320508075688772]

One variation on filtering involves replacing the values that don’t meet the criteria with a new value instead of discarding them. For example, perhaps instead of just finding positive values, you want to also clip bad values to fit within a specified range. This is often easily accomplished by moving the filter criterion into a conditional expression like this

In [172]:
clip_neg = [n if n > 0 else 0 for n in mylist]

In [173]:
clip_neg

[1, 4, 0, 10, 0, 2, 3, 0]

In [174]:
clip_pos = [n if n<0 else 0 for n in mylist]

In [175]:
clip_pos

[0, 0, -5, 0, -7, 0, 0, -1]

Another notable filtering tool is *itertools.compress()*, which takes an iterable and an accompanying Boolean selector sequence as input. As output, it gives you all of the items in the iterable where the corresponding element in the selector is True. This can be useful if you’re trying to apply the results of filtering one sequence to another related sequence.

In [176]:
addresses = [
'5412 N CLARK',
'5148 N CLARK',
'5800 E 58TH',
'2122 N CLARK'
'5645 N RAVENSWOOD',
'1060 W ADDISON',
'4801 N BROADWAY',
'1039 W GRANVILLE',
]

In [177]:
counts = [ 0, 3, 10, 4, 1, 7, 6, 1]

Now suppose you want to make a list of all addresses where the corresponding count value was greater than 5.

In [178]:
from itertools import compress

In [179]:
more5 = [n>5 for n in counts]

In [180]:
more5

[False, False, True, False, False, True, True, False]

In [181]:
list(compress(addresses, more5))

['5800 E 58TH', '4801 N BROADWAY', '1039 W GRANVILLE']

#### Process with Pandas

In [182]:
address = pd.Series(addresses, name='address')
address

0                     5412 N CLARK
1                     5148 N CLARK
2                      5800 E 58TH
3    2122 N CLARK5645 N RAVENSWOOD
4                   1060 W ADDISON
5                  4801 N BROADWAY
6                 1039 W GRANVILLE
Name: address, dtype: object

In [184]:
list(address[more5])

D:\Anaconda\lib\site-packages\pandas\core\internals.py:258: VisibleDeprecationWarning: boolean index did not match indexed array along dimension 0; dimension is 7 but corresponding boolean dimension is 8
  return self.values[slicer]
D:\Anaconda\lib\site-packages\pandas\core\indexes\base.py:1650: VisibleDeprecationWarning: boolean index did not match indexed array along dimension 0; dimension is 7 but corresponding boolean dimension is 8
  result = getitem(key)

['5800 E 58TH', '4801 N BROADWAY', '1039 W GRANVILLE']

## 1.17. Extracting a Subset(子集) of a Dictionary

### Problem

You want to make a dictionary that is a subset of another dictionary.

### Solution

This is easily accomplished using a dictionary comprehension(字典推导式)

In [185]:
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}

In [186]:
# Make a dictionary of all prices over 200
p1 = { key:value for key, value in prices.items() if value > 200 }
# Make a dictionary of tech stocks
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = { key:value for key,value in prices.items() if key in tech_names }
print(p1)
print(p2)

{'AAPL': 612.78, 'IBM': 205.55}
{'AAPL': 612.78, 'IBM': 205.55, 'HPQ': 37.2}

### Discussion

Much of what can be accomplished with a dictionary comprehension might also be done by creating a sequence of tuples and passing them to the *dict()* function.

In [187]:
p1 = dict((key, value) for key, value in prices.items() if value > 200)
p1

{'AAPL': 612.78, 'IBM': 205.55}

Sometimes there are multiple ways of accomplishing the same thing

In [188]:
# Make a dictionary of tech stocks
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = { key:prices[key] for key in prices.keys() & tech_names }
p2

{'AAPL': 612.78, 'HPQ': 37.2, 'IBM': 205.55}

## 1.18. Mapping Names to Sequence Elements(将名称映射到序列的元素中)

### Problem

You have code that accesses list or tuple elements by position, but this makes the code somewhat difficult to read at times. You’d also like to be less dependent on position in the structure, by accessing the elements by name.

### Solution

*collections.namedtuple()(命名元组)* provides these benefits, while adding minimal overhead over using a normal tuple object. *collections.namedtuple()* is actually a factory method that returns a subclass of the standard Python tuple type. You feed it a type name, and the fields it should have, and it returns a class that you can instantiate(实例化), passing in values for the fields you’ve defined, and so on.

In [190]:
from collections import namedtuple
Subscriber = namedtuple('Subscriber', ['addr', 'joined'])
sub = Subscriber('jonesy@example.com', '2012-10-19')
sub

Subscriber(addr='jonesy@example.com', joined='2012-10-19')

In [191]:
sub.addr

'jonesy@example.com'

In [192]:
sub.joined

'2012-10-19'

Although an instance of a namedtuple looks like a normal class instance, it is interchangeable with a tuple and supports all of the usual tuple operations such as indexing and unpacking.

In [193]:
len(sub)

2

In [194]:
addr, joined = sub

In [195]:
addr

'jonesy@example.com'

In [196]:
joined

'2012-10-19'

A major use case for named tuples is decoupling(解耦) your code from the position of the elements it manipulates.

So, if you get back a large list of tuples from a database call, then manipulate them by accessing the positional elements, your code could break if, say, you added a new column to your table. Not so if you first cast the returned tuples to namedtuples.

In [197]:
def compute_cost(records):
    total = 0.0
    for rec in records:
        total += rec[1] * rec[2]
    return total

References to positional elements often make the code a bit less expressive and more dependent on the structure of the records. Here is a version that uses a *namedtuple*

In [198]:
from collections import namedtuple

In [199]:
Stock = namedtuple('Stock', ['name', 'shares', 'price'])

In [200]:
def compute_cost(records):
    total = 0.0
    for rec in records:
        s = Stock(*rec)
        total += s.shares * s.price
    return total

### Discussion

One possible use of a namedtuple is as a replacement for a dictionary, which requires more space to store. Thus, if you are building large data structures involving dictionaries, use of a *namedtuple* will be more efficient. However, be aware that unlike a dictionary, a *namedtuple* is immutable.

>>> s = Stock('ACME', 100, 123.45)
>>> s
Stock(name='ACME', shares=100, price=123.45)
>>> s.shares = 75
Traceback (most recent call last):
File "<stdin>", line 1, in <module>
AttributeError: can't set attribute
>>>

In [201]:
String = 'One possible use of a namedtuple is as a replacement for a dictionary, which requires more space to store. Thus, if you are building large data structures involving dictionaries, use of a namedtuple will be more efficient. However, be aware that unlike a dictionary, a namedtuple is immutable'